<footer class="footer">
    <div class="footer_container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">
                Este site tem cujo objetivo a demonstração básica de produtos relacionados a área da tecnologia, tendo como base principal a visão de como um empreendedor teria recursos e ferramentas adequadas, úteis e precisas de serem usadas manuseadas e exploradas nos dias de hoje.

            </p>
        </section>
        <address>
            
            <h2 class="footer__title">Contato</h2> 
            <ul>
                <li><i class="fa-solid fa-envelope"></i> visiontechnology.com.br</li>
                <li><i class="fa-solid fa-phone"></i> (061) 99900-0670</li>
                <li><i class="fa-brands fa-whatsapp"></i> (061) 90000-7600</li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; Todos os direitos reservados
    </section>
  </footer>
